@use './partials/global' as *;
.header{
    display: flex;
    background-color: #FFF0ED;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type:none;
    text-decoration: none;
    display: inline-block;
}
li{
    display: inline-block;
    text-decoration: none;
}
h1{
    color:#FFF;
    font-weight: 300; 
    background-color: #393939;
    size: 2rem;
}
.header-nitro-title{
    margin: 0;
}
.header-nitro__list{
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-content: center;
    vertical-align: text-top;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}
.header-nitro__anchor1{
    text-decoration: none;
    color:#393939;
    padding: 0 1rem;
    font-size: 1.5rem;
}
.header-nitro__anchor2{
    text-decoration: none;
    color: #5BACC3;
    font-size: 1.5rem;
}
h1{
    color:#FFF;
    font-weight: 300; 
    background-color: #393939;
    size: 4rem;
    font-size: 4rem;
    padding: 4rem;
    width: 12rem;
    margin-top: 0;
    text-align: center;
    margin: 0;
    position: relative;
}
.hero{
    height: 80vh;
    width: 100vw;
    position: relative;
    background-image: url("../../assets/images/coffee-circle.jpg");
    background-size: cover;
    background-position: center; 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    text-align: center; 
}
.hero-heading-container {
    position: relative;
    display: inline-block; 
}
.hero-outline-box {
    position: absolute;
    left: -1rem;
    top: -1rem;
    height: 13rem;
    width: 19.5em;
    border: 0.25rem solid #5BACC3;
    z-index: 1;
}
.primary-nav{
    background-color: #393939;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}
.primary-nav__list {
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    display: inline;
    position: relative;
} 
.primary-nav__anchor {
    color: #FFF;
    text-decoration: none;
    padding: 0;
    display: inline-block;
}
.line{
    color: #5BACC3;
    font-weight: 800;
    font-size: 1rem;
}
h3{
    color:#393939;
    font-weight: 300;
    font-size: 2rem; 
    text-align: center;
    padding-top: 1rem;
    margin: 0;
    display: block;
}
.drink-pasteries-container{
    display: inline-block;
    margin: auto;
}
main{
    width: 50%;
}
.hot-drinks{
    background-color: #FFF0ED;
    text-align: center;
    margin: 0;
    padding: 0 0 2rem 0;
    display: flex;
}
.cold-drinks{
    background-color:#F7F7F7;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0 2rem 0;
    box-sizing: border-box;
}
.pasteries{
    background-color:#FFF0ED;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0 2rem 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.description{
    font-style:italic;
    text-align: center;
    width: 28%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hot-drinks, .cold-drinks, .pasteries {
    width: 100vw; /* Full width of the viewport */
    display: block; /* Ensure they behave as block elements */
    text-align: center;
    padding: 2rem 0; /* Add vertical padding */
}
.price{
    color:#5BACC3;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom-width: 1rem;
}